.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgDark {
  --bg-opacity: 1;
  background-color: #151515;
  background-color: rgba(21, 21, 21, var(--bg-opacity));
}

.bgDusk {
  --bg-opacity: 1;
  background-color: #202022;
  background-color: rgba(32, 32, 34, var(--bg-opacity));
}
.all {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(257px, 1fr));
  margin: 1rem;
}
.proCard {
  max-width: 300px;
  border-radius: 5px;
  position: relative;
}
.proCardIcon {
  margin-bottom: 1rem;
  min-width: 257px;
  min-height: 200px;
}
.proCardIcon > span {
  position: inherit !important;
}
.proImg {
  width: 100% !important;
  min-height: 200px !important;
  cursor: pointer;
  position: relative !important;
}

.proTech {
  position: absolute;
  top: 1rem;
  padding-left: 1rem;
  text-decoration: underline;
}
